<style>
    table td:nth-child(2) {
        text-align: right;
    }
</style>
<div class="container-fluid"><div class="row"><div class="col-sm-10 col-sm-offset-1">
    <a class="btn btn-primary pull-right" href="/payments">
    <span class="glyphicon glyphicon-arrow-left"></span> Back</a>
    <br><br>
    <div class="panel panel-default">
        <div class="panel-heading">Student's Information</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    First Name: 
                </div>
                <div class="col-sm-4">
                    Middle Name: 
                </div>
                <div class="col-sm-4">
                    Last Name: 
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    Grade / Year Level:
                </div>
                <div class="col-sm-4">
                    Section: 
                </div>
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">First Grading</div>
                <div class="panel-body">
                    Math<br>
                    Science<br>
                    Filipino<br>
                    English
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Second Grading</div>
                <div class="panel-body">
                    Math<br>
                    Science<br>
                    Filipino<br>
                    English
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Third Grading</div>
                <div class="panel-body">
                    Math<br>
                    Science<br>
                    Filipino<br>
                    English
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Fourth Grading</div>
                <div class="panel-body">
                    Math<br>
                    Science<br>
                    Filipino<br>
                    English
                </div>
            </div>
        </div>
    </div>
</div></div></div>