<%# <div class="row" style="margin-top: 100px;"></div>
<div class="col-sm-4">
	<h1 class="page-header">MISSION</h1>
	<p class="h3">
		Eylim Christian Academy exists to provide quality education which is anchored on biblical standards and excellent basic education that ensure life-long learning.
	</p>
	
</div>
<div class="col-sm-4">
</div>
<div class="col-sm-4">
	<h1 class="page-header">VISION</h1>
	<p class="h3">
		The Eylim Christian Academy envisions to raise up responsible citizens
		and God-fearing future leaders who will be a part of building strong nation. 
	</p>
</div> %>