<div class="col-sm-4">
	<h1 class="page-header">MISSION</h1>
	<p>
		To protect and promote the right of every Filipino to quality, equitable, culture-based, and complete basic education where:
	</p>
	<p>
		<strong>Students</strong> learn in a child-friendly, gender-sensitive, safe, and motivating environment.
		<br><strong>Teachers</strong> facilitate learning and constantly nurture every learner.
		<br><strong>Administrators and staff</strong>, as stewards of the institution, ensure an enabling and supportive environment for effective learning to happen.
		<br><strong>Family, community, and other stakeholders</strong> are actively engaged and share responsibility for developing life-long learners.
	</p>
</div>
<div class="col-sm-4">
</div>
<div class="col-sm-4">
	<h1 class="page-header">VISION</h1>
	<p>
		We dream of Filipinos 
		who passionately love their country 
		and whose values and competencies  
		enable them to realize their full potential 
		and contribute meaningfully to building the nation.
	</p>
	<p>
		As a learner-centered public institution, 
		the Department of Education 
		continuously improves itself 
		to better serve its stakeholders. 
	</p>
</div>