<div class="container-fluid"><div class="row"><div class="col-sm-4 col-sm-offset-4">
<h1 class="page-header">Change Password
<a class="btn btn-primary pull-right" href="/students-main">
    <span class="glyphicon glyphicon-arrow-left"></span> Back</a>
</h1>
<form class="new_user" id="new_user" action="#" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="kNwihNgSV59BSPf1oTzUye9LXteoMNC2Pm32zgYmPtAAfuZYgEtp7Po3/N4DilCba19SIAF+KCSTDMJYUSEMew==" />
  <div class="form-group">
    <label for="user_user_name">Current Password</label>
    <input class="form-control" type="password" name="user[user_pass]" id="user_user_pass" />
  </div>
  <div class="form-group">
    <label for="user_user_pass">New Password</label>
    <input class="form-control" type="password" name="user[user_pass]" id="user_user_pass" />
  </div>
  <div class="form-group">
    <label for="user_user_pass">Confirm Password</label>
    <input class="form-control" type="password" name="user[user_pass]" id="user_user_pass" />
  </div>
  
  <button type="button" class="btn btn-default">Submit</button>
</form>
</div></div></div>