<style>
    .col-sm-4 {
        margin-top: 20px;
    }
    a {
        text-decoration: none!important;
    }
</style>
<div class="container-fluid">
    <div class="row text-center" style="margin-top:-10px;">
        <%= render "slider" %>
    </div>
    <div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3 hidden">
            <% if session[:user]["access"] == 1 %>
            <div class="col-sm-4">
                <a href="/users"><img src="/assets/user_account.png" class="img-thumbnail">
                <br />
                User Account
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/students"><img src="/assets/student.png" class="img-thumbnail">
                <br />
                Student's Information
                </a>
            </div>
            <% end %>
            <div class="col-sm-4">
                <a href="/events"><img src="/assets/info.png" class="img-thumbnail">
                <br />
                Events / Information
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/grades"><img src="/assets/grades.png" class="img-thumbnail">
                <br />
                Grades
                </a>
            </div>
            <% if session[:user]["access"] == 1 %>
            <div class="col-sm-4">
                <a href="/teachers"><img src="/assets/teacher.png" class="img-thumbnail">
                <br />
                Teachers
                </a>
            </div>
            <% end %>
            <div class="col-sm-4">
                <a href="/schedules<%= "/#{Teacher.find_by_user_id(session[:user]["id"]).id}" if session[:user]["access"] == 2 %>"><img src="/assets/schedule.png" class="img-thumbnail">
                <br />
                Schedule
                </a>
            </div>
            <% if session[:user]["access"] == 1 %>
            <div class="col-sm-4">
                <a href="/payments"><img src="/assets/payment.png" class="img-thumbnail">
                <br />
                Payments
                </a>
            </div>
            <% end %>
        </div>
        <!-- mission vision -->
        <%= render 'mission_vision' %>
    </div>
</div>