<style>
    img {
        width: 150px;
    }
    .col-sm-4 {
        margin-top: 20px;
    }
    a {
        text-decoration: none!important;
    }
</style>
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3 hidden">
            <% if session[:user]["access"] == 1 %>
            <div class="col-sm-4">
                <a href="/users"><img src="/assets/user_account.png" class="img-thumbnail">
                <br />
                User Account
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/students"><img src="/assets/student.png" class="img-thumbnail">
                <br />
                Student's Information
                </a>
            </div>
            <% end %>
            <div class="col-sm-4">
                <a href="/events"><img src="/assets/info.png" class="img-thumbnail">
                <br />
                Events / Information
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/grades"><img src="/assets/grades.png" class="img-thumbnail">
                <br />
                Grades
                </a>
            </div>
            <% if session[:user]["access"] == 1 %>
            <div class="col-sm-4">
                <a href="/teachers"><img src="/assets/teacher.png" class="img-thumbnail">
                <br />
                Teachers
                </a>
            </div>
            <% end %>
            <div class="col-sm-4">
                <a href="/schedules<%= "/#{Teacher.find_by_user_id(session[:user]["id"]).id}" if session[:user]["access"] == 2 %>"><img src="/assets/schedule.png" class="img-thumbnail">
                <br />
                Schedule
                </a>
            </div>
            <% if session[:user]["access"] == 1 %>
            <div class="col-sm-4">
                <a href="/payments"><img src="/assets/payment.png" class="img-thumbnail">
                <br />
                Payments
                </a>
            </div>
            <% end %>
        </div>

        <!-- mission vision -->
        <div class="col-sm-4">
            <h1 class="page-header">MISSION</h1>
            <p>
                To protect and promote the right of every Filipino to quality, equitable, culture-based, and complete basic education where:
            </p>
            <p>
                <strong>Students</strong> learn in a child-friendly, gender-sensitive, safe, and motivating environment.
                <br><strong>Teachers</strong> facilitate learning and constantly nurture every learner.
                <br><strong>Administrators and staff</strong>, as stewards of the institution, ensure an enabling and supportive environment for effective learning to happen.
                <br><strong>Family, community, and other stakeholders</strong> are actively engaged and share responsibility for developing life-long learners.
            </p>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <h1 class="page-header">VISION</h1>
            <p>
                We dream of Filipinos 
                who passionately love their country 
                and whose values and competencies  
                enable them to realize their full potential 
                and contribute meaningfully to building the nation.
            </p>
            <p>
                As a learner-centered public institution, 
                the Department of Education 
                continuously improves itself 
                to better serve its stakeholders. 
            </p>
        </div>
    </div>
</div>