<div class="container-fluid"><div class="row"><div class="col-sm-4 col-sm-offset-4">
<h1 class="page-header">Edit Event / Information
<a class="btn btn-primary pull-right" href="/events">
    <span class="glyphicon glyphicon-arrow-left"></span> Back</a>
</h1>
<%= render 'form' %>
</div></div></div>