<style>
    table td:nth-child(2) {
        text-align: right;
    }
</style>
<div class="container-fluid"><div class="row"><div class="col-sm-10 col-sm-offset-1">
    <a class="btn btn-primary pull-right" href="/payments">
    <span class="glyphicon glyphicon-arrow-left"></span> Back</a>
    <br><br>
    <div class="panel panel-default">
        <div class="panel-heading">Student's Information</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    First Name: 
                </div>
                <div class="col-sm-4">
                    Middle Name: 
                </div>
                <div class="col-sm-4">
                    Last Name: 
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    Grade / Year Level:
                </div>
                <div class="col-sm-4">
                    Section: 
                </div>
                
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Billing Information</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <input type="checkbox"> Miscellaneous
                </div>
                <div class="col-sm-4">
                    <input type="checkbox"> Medical
                </div>
                <div class="col-sm-4">
                    <input type="checkbox"> Tuition Fee
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <td colspan="2" class="text-center">Breakdown</td>
                        </tr>
                        <tr>
                            <td>Miscellaneous</td>
                            <td>500</td>
                        </tr>
                        <tr>
                            <td>Medical</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>Tuition Fee</td>
                            <td>1,500</td>
                        </tr>
                        <tr>
                            <td><strong>TOTAL</strong></td>
                            <td><strong>3,000</strong></td>
                        </tr>
                    </table>
               </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Payment History</div>
        <div class="panel-body">
            <div class="row" style="margin-top: 20px;">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <td>OR Number</td>
                            <td>Date of Payment</td>
                            <td>Amount Paid</td>
                            <td>School Year</td>
                        </tr>
                    </table>
               </div>
            </div>
        </div>
    </div>
</div></div></div>